{% extends 'base.html' %}


{% block title %} {{ setting.title }}  {% endblock title %}
{%block keywords %} {{ setting.keywords }} {% endblock keywords %}
{%block description %} {{ setting.description }} {% endblock description %}

{% block body %} 



<div class="bg-gray-300 dark:bg-gradient-to-t dark:from-sky-200 dark:via-gray-500 dark:to-blue-400">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, id. Minus fugit labore quis magni corporis voluptatum corrupti culpa aliquam dolorum, sit dolore a illo eveniet vitae deleniti commodi doloremque?
<br>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, aliquid voluptatum, expedita saepe modi nulla perspiciatis aspernatur aperiam consectetur ab nam voluptates. Cupiditate autem illo, at libero voluptates sequi commodi.
<br>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque, nostrum beatae assumenda autem fugiat velit laborum placeat expedita fugit! Minus nisi rem quaerat, tempore ut recusandae ex illum neque fuga!

<br>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, id. Minus fugit labore quis magni corporis voluptatum corrupti culpa aliquam dolorum, sit dolore a illo eveniet vitae deleniti commodi doloremque?
<br>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, aliquid voluptatum, expedita saepe modi nulla perspiciatis aspernatur aperiam consectetur ab nam voluptates. Cupiditate autem illo, at libero voluptates sequi commodi.
<br>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque, nostrum beatae assumenda autem fugiat velit laborum placeat expedita fugit! Minus nisi rem quaerat, tempore ut recusandae ex illum neque fuga!

</div>


{% endblock body %}
